@font-face {
  font-family: Apex_Regular;
  src: url(Apex_Regular.otf);
}

@font-face {
  font-family: Oswald;
  src: url(Oswald.ttf);
}


* {
  margin: 0;
  padding: 0;
  font-family: Apex_Regular;
  font-size: large;
  letter-spacing: 1px;
  color: #c00000;
  overflow: hidden;
  cursor: default;
}

body {
  background-color: #222;
}

.content {
  display: block;
  width: 100%;
  overflow: hidden;
}

.content * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.regions {
  position: absolute;
  padding-right: 10px;
  left: -10px;
  z-index: 0;
}

.region {
  width: 64px;
  float: left;
  height: 24px;
  margin: 0 -1px 0 0;
  transform: skew(-25deg);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.region .regions-text {
  width: 64px;
  font-family: Oswald;
  font-size: small;
  color: white;
  position: absolute;
  transform: skew(25deg);
  z-index: 2;
  text-align: center;
}

.powered-by {
  background-color: white;
  width: 125px;
  padding: 0 4px;
  float: left;
  height: 24px;
  margin: 0px -8px 0 0px;
  transform: skew(-25deg);
  background: white;
  overflow: hidden;
  position: relative;
  z-index: 2;
  left: -8px;
}

.powered-by .powered-by-text {
  width: 110px;
  font-family: Oswald;
  font-size: small;
  color: red;
  position: absolute;
  transform: skew(25deg);
  z-index: 3;
  left: 15px;
}

.gradient-border {
  --border-width: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  font-family: Lato, sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  background: #222;
  box-shadow: -5px 0px 20px 8px black;
}

.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(90deg, #c00000, black, #c00000);
  background-size: 300% 300%;
  background-position: 0% 50%;
  animation: moveGradient 10s alternate infinite;
  filter: brightness(0.75);
}

@keyframes moveGradient {
  50% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.region.na {
  background: #020BB6 !important;
}

.region.sa {
  background: #697A21 !important;
}

.region.emea {
  background: #F26430 !important;
}

.region.apacn {
  background: #A657AE !important;
}

.region.apacs {
  background: #CDA213 !important;
}